.footer{ 
	padding:40px 0; 
	text-align:center;
	background-color: $color_scheme;
	.copyright{
		font-size: 12px;
		color: #ddd;
	}
}

.follow-me {
    padding: 25px 0;
	h2 {
	    font-size: 55px;
	    font-weight: 100;
	    @media (max-width: 514px){
	    	font-size: 35px;
	    }
	}
}
/**
 * Footer social icons
 */

.footer-social-icons{
    list-style: none;
    padding: 35px 0;
    text-align: center;
    border-top: 0;
    li{
	    display: inline-block;
	    margin-right: 35px;
	    @media (max-width: 514px){
	    	margin-right: 3px;
	    }
    }
    i{
	    font-size: 22px;
	    color: #FFFFFF;
	    -webkit-transition: all 0.25s ease-in-out;
	    transition: all 0.25s ease-in-out;
	    width: 42px;
	    height: 42px;
	    border-radius: 50%;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    &:hover{
    		color: #555;
	    }
    }
}


/**
 * Footer insta section
 */

.singleInst{
    float: left;
    width: 12.5%;
    overflow: hidden;
}
.singleInst img{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    width: 100%;
}
.singleInst img:hover{
    transform: scale(1.06);
    opacity: .7;
}